.header
    max-width: 100%
    position: sticky
    top: 0
    left: 0
    background: $mainColorBg
    .logo
        display: block
        max-width: 191rem
        height: auto
    &__container
        padding-top: 15rem
        padding-bottom: 15rem
        display: flex
        align-items: center
        justify-content: space-between
        gap: 15rem