- 
    let menuItems = [
        {
            name: "Головна",
            href: "/"
        },
        {
            name: "Про нас",
            href: "#about"
        }
    ];
mixin head(title, descripton='Ландшафтний дизайн майстер + це найкраща компанія у Хмельницькому для облаштування газоніу', keywords="Хмельницький, Ландшафт, майстер+, газон, благоустрій, посадка газону")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="description", content=descripton)
        meta(name="keywords", content=keywords)
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/style.min.css")
        link(rel="manifest", href="@/manifest.json")
        title=title 
mixin menu(items)
    ul 
        for item in items 
            li 
                a(href=item.href)=item.name